body{
    background-color: black;
    color: #fff;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: gray;
}
.all{
    display: flex;
    justify-content: space-between;
}
.all .left{
    width: 23.5%;
}
.left .div1{
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgb(18,18,18);
}
.image1{
    width: 20px;
    height: 20px;
    padding: 15px;
}
.image2{
    width: 50px;
}
.image3{
    width: 30px;
    height: 30px;
    padding: 8px;
}
p{
    margin-left: 10px;
}
.spo, .home, .search{
    display: flex;
    cursor: pointer;
    height: 40px;
    margin-bottom: 8px;
}
.left .div2{
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 8px;
    padding-bottom: 34px;
    background-color: rgb(18,18,18);
}
.overflow{
    overflow: hidden;
    height: 60vh;
    cursor: default;
}
.overflow:hover{
    overflow: scroll;
    overflow-x: hidden;
    z-index: 5;
}
.overflow header{
    position: sticky;
}
.lib{
    background: none;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: gray;
    cursor: pointer;
}
.all .right{
    background-color: rgb(18,18,18);
    width: 76%;
    height: 85.5vh;
    border-radius: 5px;
    overflow: hidden;
}
.all .right:hover{
    overflow: scroll;
    overflow-x: hidden;
}
.right header{
    background-color: #090909;
    height: 10vh;
    display: flex;
    padding: 0 26px;
    position: fixed;
    width: 71%;
    z-index: 10;
}
header .div-1{
    width: 50%;
    display: flex;
    align-items: center;
}
header .div-2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header button{
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
}
.sign-up{
    background: none;
    color: #fff;
}
.log-in{
    border-radius: 25px;
}
.right h2{
    margin: 65px 0 0 25px;
}
.playlists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 25px;
}
.playlists a{
    text-decoration: none;
    color: #fff;
    width: 24%;
    height: fit-content;
    margin-bottom: 20px;
}
.playlists .div-1{
    background-color: rgba(36, 36, 36, 0.3);
    height: 45vh;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}
.playlists .div-2{
    background-color: #473940;
    height: 30vh;
    border-radius: 5px;
    padding: 8px;
}
.playlists .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playlists .top img{
    width: 8%;
}
.playlists .top p{
    font-size: 17px;
    font-weight: bold;
}
.playlists .div-1 .return{
    width: 100%;
    height: 22vh;
    margin-top: 25px;
}
.playlists .div-1 p{
    margin: 0;
}
.playlists .div-1 .p-1{
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
}
.playlists .div-1 .p-2{
    color: #a2a2a2;
    font-size: 14px;
}
.playlists .play img{
    background-color: rgb(95, 229, 95);
    width: 15%;
    padding: 5px;
    border-radius: 100%;
    position: absolute;
    z-index: 5;
    top: 150px;
    left: 150px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
    display: none;
}
.playlists .div-1:hover .play img{
    display: block;
}
.playlists .div-1:hover{
    background-color: rgba(128, 128, 128, 0.305);
}
footer{
    padding: 60px 25px;
}
footer .top{
    display: flex;
    justify-content: space-between;
}
footer .div-1{
    width: 25%;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
footer .div-2{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}
footer .div-2 img{
    width: 8%;
    height: 3vh;
    background-color: rgba(128, 128, 128, 0.163);
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
}
footer .div-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .more-options{
    width: 60%;
}

footer ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
footer ul a{
    font-size: 15px;
}
footer ul a:hover{
    text-decoration: none;
}
footer p{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
footer a{
    text-decoration: none;
    color: gray;
    width: fit-content;
    font-size: 17px;
}
footer a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
}
footer .div-3{
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.441);
    margin: 40px 0;
}
footer .p-1{
    color: gray;
    font-size: 15px;
    font-weight: normal;
}
.bottom{
    background-color: black;
    color: #fff;
    border: 1px solid red;
    height: 12vh;
}