*{
    margin: 0;
    padding: 0;
    color: #fff;
}
header{
    display: none;
}
body{
    background-color: rgb(36,36,36);
}
section{
    width: 95%;
    margin: 0;
    height: 100vh;
    border-radius: 0;
    padding: 0 10px;
}
.div-1, .div-2, .div-4, .div-5, .div-6, .div-7{
    display: none;
}
.back{
    display: block;
}
.back img{
    width: 7%;
    margin-left: -10px;
    margin-top: 10px;
}
.div-3{
    width: 100%;
    margin-top: 20px;
}
.div-3 p{
    font-size: 24px;
}
input{
    margin: 5px 0 20px 0;
    background-color: rgba(128, 128, 128, 0.438);
    border: none;
    padding: 15px;
    font-size: 16px;
    width: 90%;
    border-radius: 5px;
}
input:focus-within{
    background-color: rgba(128, 128, 128, 0.76);
    outline: none;
}
.btn, .btn-2{
    text-align: center;
}
.btn-2{
    display: block;
    margin-top: 30px;
}
.div-3 .btn-2 button{
    background: none;
    border: 1px solid rgba(128, 128, 128, 0.332);
    padding: 5px 10px;
    border-radius: 25px;
}
.div-3 .btn button{
    background-color: #fff;
    color: black;
    padding: 10px 17px;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}